<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <ul>
            <% movies.forEach(movie => { %>
            <li class="movie-list"><a href="/movies/detail/<%= movie.id %>"><%= movie.title %> </a></li>
            <% }) %>            
        </ul>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>