<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1><%= movie.title %> </h1>
        <ul>
            <li>Rating: <%= movie.rating %></li>         
            <li>Premios: <%= movie.awards %></li>         
            <li>Duración: <%= movie.length %></li>         
            <li>Fecha de estreno: <%= movie.release_date %></li>         
            <li>Género: <% if (movie.Genre) { %><a href="/genres/<%= movie.genre_id%>"><%= movie.Genre.name %></a><% } else { %>Desconocido<% } %></li>         
            <li>Actores: 
                <ul>
                    <% movie.actors.forEach(actor => { %>
                    <li><a href="/actors/detail/<%= actor.id %>"><%= actor.first_name + ' ' + actor.last_name %></a></li>                  
                    <% }) %>
                </ul>
            </li>         
        </ul>
        <div class="nav-mobile-user-buttons">
            <a class="nav-mobile-button-filled" href="/movies/edit/<%= movie.id %>">Modificar</a>
            <a class="nav-mobile-button-outlined" href="/movies/delete/<%= movie.id %>">Borrar</a>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>