<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1><%= movie.title %> </h1>
        <ul>
            <li>Rating: <%= movie.rating %></li>         
            <li>Premios: <%= movie.awards %></li>         
            <li>Duración: <%= movie.length %></li>         
            <li>Fecha de estreno: <%= movie.release_date %></li>         
        </ul>
        <div class="nav-mobile-user-buttons">
            <a class="nav-mobile-button-filled" href="/movies/edit/<%= movie.id %>">Modificar</a>
            <a class="nav-mobile-button-outlined" href="/movies/delete/<%= movie.id %>">Borrar</a>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>