<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
    <h1 class="user-form-title">Editando <%= movie.title %> </h1>
    <form class="user-form" action="/movies/edit/<%= movie.id %> " method="POST">
        <div>
            <input type="text" name="title" id="title" required placeholder=" " value="<%= movie.title %>">     
            <label for="title">Título de la película</label>      
        </div>   
        <div>
            <input type="text" id="rating" name="rating" required placeholder=" " value="<%= movie.rating %>">
            <label for="rating">Rating</label>
        </div>
        <div>
            <input type="text" id="awards" name="awards" required placeholder=" " value="<%= movie.awards %>">
            <label for="awards">Premios</label>
        </div>
        <div>
            <input type="date" id="release_date" name="release_date" required placeholder=" " value="<%= movie.release_date %>">
            <label for="release_date">Fecha de estreno</label>
        </div>
        <div>
            <input type="text" id="length" name="length" required placeholder=" " value="<%= movie.length %>">
            <label for="length">Duración (en minutos)</label>
        </div>

        <button type="submit" class="submit-button">Editar</button>
    </form>

    <%- include('partials/footer') %>
</body>
</html>