<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <ul>
            <% actors.forEach(actor => { %>
            <li class="movie-list"><a href="/actors/detail/<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></a></li>
            <% }) %>            
        </ul>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>