<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <h1 class="user-form-title">Registrando un nuevo actor</h1>
    <form class="user-form" action="/actors/create" method="POST">
        <div>
            <input type="text" name="first_name" id="first_name" required placeholder=" ">     
            <label for="first_name">Nombre</label>      
        </div>   
        <div>
            <input type="text" name="last_name" id="last_name" required placeholder=" ">     
            <label for="last_name">Apellido</label>      
        </div>   
        <div>
            <input type="number" id="rating" name="rating" required placeholder=" ">
            <label for="rating">Rating</label>
        </div>
        <div>
            <select name="favorite_movie_id" id="favorite_movie_id">
                <% movies.forEach(movie => { %>
                <option value="<%= movie.id %>"><%= movie.title %></option>
                <% }) %>
            </select>
            <label for="favorite_movie_id">Pelicula favorita</label>
        </div>

        <button type="submit" class="submit-button">Publicar</button>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>